@import "tailwindcss";

@theme {
  --color-mainClr: #bc9a38;
  --color-textClr: #939393;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

/* fix hover in mobile */
@custom-variant hover (&:hover);

@layer {
  body {
    @apply bg-gray-100 text-textClr font-['cairo'];
  }

  .titleLine {
    @apply text-textClr font-bold p-2 cursor-pointer duration-300 relative;

    &::after {
      @apply content-[''] absolute bottom-0 left-1/2 -translate-x-1/2 w-0 h-0.5 bg-mainClr duration-300;
    }

    &.active,
    &:hover {
      @apply text-mainClr;

      &::after {
        @apply w-1/2;
      }
    }
  }

  .mainBtn {
    @apply bg-mainClr text-white font-bold py-2 px-6 rounded-lg hover:brightness-90 duration-300;
  }
}
